.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: fit-content;
  margin-bottom: 10px;
}
@media all and (max-height: 500px) {
}

.profile-image {
  width: 7rem;
  height: 7rem;
  margin: 10px;
}

h1 {
  font-family: Inter-Bold;
  font-size: large;
}

h3 {
  font-family: Inter-S-Bold;
  font-size: medium;
  color: rgb(165, 255, 9);
  font-weight: bold;
}

p {
  margin: 10px;
  font-size: small;
  font-style: italic;
  width: 100%;
  max-height: min-content;
}

hr {
  border: 0.5px solid white;
  width: 80%;
}

.btn-lab {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  margin: 15px 0;
  width: 70%;
}

.btn-lab:hover {
  background-color: rgb(165, 255, 9);
  color: black;
}
